@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.banner-area{
    position: relative;
    min-height: 955px;
    display: flex;
    flex-direction: column;
    background-image: url(../css/imagenes/banner.jpg);
    background-size: cover;
    background-position: center;
}

.capa-banner{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
    position: absolute;
}

.header-area{
    padding: 15px 0;
    color: aliceblue;
}

.nav-area{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 450px;
    height: 300px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 100%;
}

#check{
    display: none;
}

/*MENÚ*/

.menu{
    display: flex;
    margin-right: 50px;
    list-style: none;
}

.menu .option-menu{
    font-size: 24px;
    margin: 0 20px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.menu .option-menu .menu-link{
    text-decoration: none;
    color: goldenrod;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace
}

.menu .option-menu .menu-link:hover{
    color: white;
    transition: all .5s;
    background-color: rgba(0, 0, 0, .35);
    border-radius: 8px;
}


/*MENÚ RESPONSIVE*/

.icono-menu{
    font-size: 25px;
    color: white;
    background: none;
    cursor: pointer;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

/*********************/
/*****RESPONSIVE*****/
/*******************/

@media (max-width: 1080px){

    .header-area{
        height: 80px;
    }
    
    .nav-area{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .logo{
        width: 380px;
        height: 190px;
        margin-top: 30px;
        object-fit: cover;
        border-radius: 300%;
        margin-left: -80px;
    }
    
    
    /*MENÚ*/
    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: rgba(0, 0, 0, .75);
        list-style: none;
        position: fixed;
        left: 100%;
        top: 0px;
        width: 100%;
        padding: 20px 0;

        height: 100%;
        overflow-y: auto;

        transition: all .5s;
    }
    
    .menu .option-menu{
        font-size: 24px;
        margin: 30px 20px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    
    .menu .option-menu .menu-link{
        text-decoration: none;
        color: goldenrod;
        padding: 10px;
    }
    
    .menu .option-menu .menu-link:hover{
        color: white;
        transition: all .5s;
        background-color: rgba(0, 0, 0, .35);
        border-radius: 8px;
    }

    .icono-menu{
        display: block;
        z-index: 1;
    }

    #check:checked ~ .menu{
        left: 0;
        z-index: 0;
    }

    #check:checked{
        background-color: goldenrod;
    }
}

